.maindiv {
  text-align: center;
  position: relative;
  top: -550px;
  color: aliceblue;
}

.img {
  position: relative;
  left: 300px;
  bottom: -110px;
}

.error404 {
  align-items: center;
  background-color: #0B283A;
}

.homelogo {
  position: relative;
  padding: 1px;
  width: 2rem;
  height: 40px;
  left: -670px;
  top: -10px;
}
